.checkout {
    display: flex;
    padding: 20px;
    background-color: #EBEDED;
    height: max-content;
}

.advertisement {
    width: 100%;
    margin-left: 15%;
    border: solid 1px lightgray;
    display: block;
}

.shopping_cart {
    background-color: white;
    padding: 10px;
    margin: 20px 20px 20px 0px;
}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_left {
    display: flex;
    flex-direction: column;
}